@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* navbar Part Start */
.btn-outline-success {
    border-radius: 25px;
    padding: 7px 30px;
    padding-bottom: 9px;
    padding-top: 3px;
    color: #5584ff;
    border: 2px solid #5584ff;
    background: #0e1a35;
    margin-left: 20px;
}
.btn-outline-success:hover{
    background: #0e1a35;
    color: #5584ff;
    border: 2px solid #5584ff;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 50px;
}
.navbar-light .navbar-toggler {
    color: #ffffff;
    border-color:#ffffff;
  }
.navbar-light .navbar-toggler-icon{
    color: #fff;
}
.navbar-part{
    background-image: url("../img/navbar/03-Merkury_Landing\ Page.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 500px;
}
/* Back Part Start */
.back-part{
    padding-left: 376px;
    padding-top: 100px;
}
.back-part h5{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 200;
}
.back-part h6{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #8492af;
    padding-left: 135px;
}
.start{
    padding-left: 162px;
    padding-top: 50px;
}
.start a{
    text-decoration: none;
}
.start a p{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 14px;
    background: #5584ff;
    padding: 15px 49px;
    width: 170px;
    border-radius: 30px;
    font-weight: 700;
}
/* Back Part End */
/* Back Part2 start */
.navbar-part{
    position: relative;
}
.bgimg{
    position: absolute;
    top: 450px;
    left: 280px;
}
/* Back Part2 end */
/* navbar Part End */
/* About Part Start */
.About-part{
    padding-top: 300px;
    padding-bottom: 80px;
}
.about-con{
    padding-left: 70px;
    padding-top: 10px;
}
.about-logo img{
    padding-bottom: 45px;
    padding-left: 120px;
    padding-right: 40px;
}
.about-logo2 img{
    padding-bottom: 34px;
    padding-left: 99px;
}
.about-content h5{
    color: #0e1a35;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-left: 60px;
}
.about-content p{
    text-align: center;
    color: #8492af;
    font-size: 16px;
    padding-right: 25px;
}
.see-more{
    cursor: pointer;
    padding-left: 60px;
}
.see-more h6{
    padding: 12px 55px;
    background: #ffffff;
    border: 2px solid #dadee7;
    width: 183px;
    border-radius: 30px;
}
/* About Part End */
/* Need Part Start */
.need-part{
    padding-bottom: 60px;
}
.need-con{
    padding-top: 45px;
}
.need-content h5{
    font-family: 'Roboto', sans-serif;
    color: #0e1a35;
    font-size: 55px;
    font-weight: 200;
}
.need-content p{
    font-family: 'Roboto', sans-serif;
    color: #8492af;
    font-size: 15px;
}
.need-icon{
    padding-top: 15px;
}
.need-icon1 i{
    padding-top: 3px;
    color: #5584ff;
}
.need-icon1 p{
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: #5584ff;
    font-size: 15px;
}
.need-icon2 i{
    padding-top: 3px;
    color: #5584ff;
}
.need-icon2 p{
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: #5584ff;
    font-size: 15px;
}
/* Need Part End */
/* Drag Part Start */
.darg-part{
    background-image: url("../img/dragimg/dragimg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.complet-con-mai{
    padding-right: 0px;
    padding-top: 20px;
}
.complet-con-main{
    padding: 90px 0px;
}
.complet-con{
    background: #fff;
    padding: 15px 25px;
    padding-left: 10px;
    position: relative;
}
    /* Compelet Header Part */
.com-icon h5{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #ffffff;
}
.com-icon p{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #8492af;
    margin-top: -5px;
}
.com-icon i{
    font-size: 35px;
    color: #8492af;
    padding-left: 65px;
    margin-top: -3px;
}
    /* Compelet Header End */
    /* N-type Start */
.n-type h6{
    padding-left: 10px;
    font-size: 13px;
}
.n-type p{
    padding: 4px 12px;
    background: #5584ff;
    width: 34px;
    color: #fff;
    border-radius: 30px;
}
.n-typeicon .send-n i {
    font-size: 25px;
    color: #8492af;
    position: absolute;
    top: 25px;
    left: 235px;
}
.n-typeicon {
    padding-left: 43px;
    margin-top: -24px;
}
.n-typeicon h5{
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #8492af;
}
.n-typeicon i{
    font-size: 13px;
    color: #8492af; 
}
.n-typeicon2 {
    padding-left: 43px;
    margin-top: -24px;
}
.n-typeicon2 h5{
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #00bf1b;
}
.n-typeicon2 i{
    font-size: 13px;
    color: #00bf1b; 
}
.n-typeicon2 .send-n i {
    font-size: 25px;
    color: #8492af;
    position: absolute;
    top: 25px;
    left: 235px;
}
.n-typeicon3 {
    padding-left: 43px;
    margin-top: -24px;
}
.n-typeicon3 h5{
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #f10000;
}
.n-typeicon3 i{
    font-size: 13px;
    color: #f10000; 
}
.n-typeicon3 .send-n i {
    font-size: 25px;
    color: #8492af;
    position: absolute;
    top: 25px;
    left: 235px;
}
    /* N-type End */
.drop-hear h5{
    padding-top: 45px;
    padding-left: 110px;
    color: #8492af;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.drop-dag-con{
    padding-top: 146px;
    padding-left: 100px;
}
.drop-dag-con h1{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #ffffff;
    font-weight: 200;
    padding-bottom: 30px;
}
.drop-dag-con p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #8492af;
}
.drop-icon i:nth-child(2){
    margin-left: 15px;
}
.drop-icon i{
    padding: 5px 10px;
    border-radius: 40px;
    border: 1px solid #a5aec3;
    color: #a5aec3;
    cursor: pointer;
}
/* Drag Part End */
/* Powerfull Part Start */
.power-part{
    padding: 80px 0;
}
.power-header h5{
    color: #0e1a35;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 300;
    padding-bottom: 15px;
}
.power-header p{
    color: #8492af;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 0 186px;
    padding-bottom: 15px;
}
.power-con{
    padding: 0 40px;
    padding-top: 20px;
}
.power-con h5{
    color: #0e1a35;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
}
.power-con p{
    color: #8492af;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
/* Powerfull Part End */
/* Check Part Start */
.check-part{
    padding-bottom: 60px;
}
.check-con-main{
    padding-bottom: 80px;
}
.card {
    border: none;
    box-shadow: -5px 0px 20px 0px lightgrey;
}
.check-header h5{
    color: #0e1a35;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 300;
    padding-bottom: 30px;
}
.card h4{
    color: #0e1a35;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-top: 50px;
}
.card-body{
    padding-bottom: 60px;
}
    /* Dolar Part Start */
.dolar i{
    font-size: 25px;
    padding-top: 19px;
    padding-left: 10px;
    margin-left: -15px;
    padding-right: 5px;
}
.dolar h5{
    font-size: 60px;
}
.dolar p{
    color: #8492af;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-top: 40px;
    padding-left: 5px;
}
    /* Dolar Part End */
    /* Lorem Part Start */
.lorem{
    padding-left: 85px;
}
.lorem i{
    color: #5584ff;
    padding-right: 10px;
    padding-top: 5px;
}
.lorem2{
    padding-left: 85px;
}
.lorem2 i{
    color: #f10000;
    padding-right: 10px;
    padding-top: 5px;
}
    /* Lorem Part End */
.join{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    background: #5584ff;
    padding: 15px 60px;
    border: none;
    border-radius: 40px;
}
.join-content p{
    color: #8492af;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 0 180px;
    padding-bottom: 35px;
}
/* Check Part End */
/* Footer Part Start */
.footer-part{
    background: #0e1a35;
}
.footer-icon{
    padding-left: 20px;
    color: #8492af;
}
.footer-icon i{
    padding-left: 10px;
}
.footer-content p{
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #8492af;
    cursor: pointer;
}
.footer-con{
    padding-top: 17px;
}
.footer-con p{
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #8492af; 
}
/* Footer Part End */